@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@100;300&display=swap');



.btnn{
    max-width:100%;
}

.back{
    margin-left: 40%;
    font-size: 5rem;
    border-radius: 5rem;
}